<li class="item">
    <div class="clearfix">
        <img src="{{artwork}}" class="artwork">
        <div class="info">
            <h2 class="artist">{{artist}}</h2>
            <h1 class="track">{{track}}</h1>
        </div>
    </div>
</li>