<header class="bar-title">
    <div class="header-animated">
        <a class="button-prev btnBack">Search</a>
        <h1 class="title">Add Track</h1>
        <a class="button btnAdd">Add</a>
    </div> 
</header>
<div class="content">
    <ol class="list searchresults" />
</div>