@import "/client/assets/style/playlist";
@import "/client/assets/style/overlay";

form {
	padding: 5px;
}

.hint {
	margin: 0 10px 10px 10px;
	padding: 10px;
	color: #4c4c4c;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}