<header class="bar-title">
	<div class="header-animated">
	<a class="btnNowPlaying button-prev">Now Playing</a>
	<h1 class="title">Playlist</h1>
	<a class="button btnAddTrack">Add Track</a>
</header>
<div class="content">
	<ol class="list playlist" />
</div>