<section class="row">
	<table class="striped twelve columns tracklist">
		<thead>
			<th class="cover-column"></th>
			<th class="track-column">Track</th>
			<th class="artist-column">Artist</th>
			<th class="action-column"></th>
		</thead>
		<tbody>
			<tr data-ng-repeat="track in tracks">
				<td class="cover-column"><img data-ng-src="/images/cover/small/{{ track.spotifyId }}" class="cover" /></td>
				<td class="track-column">{{ track.track }}</td>
				<td class="artist-column">{{ track.artist }}</td>
				<td class="action-column">
					<div class="small oval primary btn"><a href="#"><i class="icon icon-thumbs-up-alt"></i> <span>Vote up</span></a></div>
					<div class="small oval primary btn"><a href="#"><i class="icon icon-play"></i> <span>Play now</span></a></div>
				</td>
			</tr>
		</tbody>
	</table>
</section>